{% extends 'layout.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<section class="py-16 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center mb-8">
            <h2 class="hidden md:block text-3xl text-[#2A07F9] font-bold">
                 <a href="{% url 'home' %}" class="hover:underline">Home</a> / Past Events
            </h2>
            <!-- <h2 class="text-3xl text-[#2A07F9] font-bold hidden md:block">All Past Events</h2> -->
            <!-- Filters -->
            <form method="GET" class="flex space-x-6 text-[#1D275F]">
                <!-- Event Type Filter -->
                <select name="event_type" class="p-3 rounded-xl bg-[#F2F4FF] border border-gray-300 focus:outline-none w-36">
                    <option value="">Event Type</option>
                    {% for type in event_types %}
                        <option value="{{ type }}" {% if selected_event_type == type %}selected{% endif %}>{{ type }}</option>
                    {% endfor %}
                </select>
                <!-- Venue Filter -->
                <select name="venue" class="p-3 rounded-xl bg-[#F2F4FF] border border-gray-300 focus:outline-none w-36">
                    <option value="">Any Venue</option>
                    {% for venue_id, venue_name in venues %}
                        <option value="{{ venue_id }}" {% if selected_venue_id == venue_id|stringformat:"s" %}selected{% endif %}>{{ venue_name }}</option>
                    {% endfor %}
                </select>
                <!-- Date Range Filter -->
                <select name="date_range" class="p-3 rounded-xl bg-[#F2F4FF] border border-gray-300 focus:outline-none w-36">
                    <option value="">Any Time</option>
                    <option value="past_week" {% if selected_date_range == "past_week" %}selected{% endif %}>Past Week</option>
                    <option value="past_month" {% if selected_date_range == "past_month" %}selected{% endif %}>Past Month</option>
                </select>
                <button type="submit" class="px-4 py-2 bg-[#2A07F9] text-white rounded-xl hover:bg-[#1D275F] transition">Filter</button>
            </form>
        </div>
        {% if past_events %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 ">
            {% for event in past_events %}
            <a href="{% url 'event_detail' event.id %}" class="bg-white rounded-xl shadow-lg overflow-hidden">
                <img src="{{ event.image.url }}" alt="{{ event.title }}" class="w-full h-56 object-cover">
                <div class="p-4">
                    <div class="flex space-x-2 mb-2">
                        <div class="bg-[#2A07F9] text-white px-3 py-1 rounded-lg text-sm font-medium">{{ event.date }}</div>
                        <div class="bg-[#F2F4FF] text-[#2A07F9] px-3 py-1 rounded-lg text-sm font-medium">
                            <i class="fas fa-map-marker-alt px-1"></i>{{ event.location }} ({{ event.venue.name }})
                        </div>
                    </div>
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">{{ event.title }}</h3>
                    <p class="text-gray-600 mb-4">{{ event.description|truncatechars:50 }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="flex justify-center items-center">
            <p class="text-[#1D275F] text-xl font-medium opacity-60">No past events match your filters.</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}