{% extends 'layout.html' %}
{% load static %}
{% block title %}Home - Happening {% endblock %}

{% block content %}
<main class="flex-grow">
    <!-- Landing Page -->
    <section
        class="relative min-h-[65vh] flex items-center justify-center text-center p-6 bg-gradient-to-b from-[#21086E] to-[#400FD4]">
        <div class="absolute inset-0 bg-cover bg-center opacity-35"
            style="background-image: url({% static 'images/landing_bg.jpg' %});"></div>
        <div class="absolute inset-0"
            style="background: radial-gradient(circle, #4a15ec 0%, #140150 100%); opacity: 0.6;"></div>
        <!-- Landing Page Content -->
        <div class="relative z-10 text-center max-w-6xl mx-auto">
            <div class="mx-auto max-w-7xl">
                <h1 class="text-5xl md:text-6xl font-bold mb-6 text-white text-center whitespace-nowrap">
                    DISCOVER
                    <span class="inline-block w-5 h-5 bg-white rounded-full mx-2 align-middle"></span>
                    PARTICIPATE
                    <span class="inline-block w-5 h-5 bg-white rounded-full mx-2 align-middle"></span>
                    ENJOY
                </h1>
            </div>
            <p class="text-base md:text-xl text-purple-200 font-light mb-8 max-w-6xl mx-auto">
                Stay connected with all the upcoming events on campus. Whether you want to volunteer, participate, or
                just enjoy the moment, there's always something exciting <strong>happening</strong>. Get involved, make
                memories, and be a part of the action !
            </p>
            <div class="space-x-4">
                <a href="" class="bg-red-600 px-6 py-3 rounded-lg text-white font-medium hover:bg-red-700 transition">
                    BE A PART OF EVENT
                </a>
                <a href=""
                    class="bg-transparent border-2 border-white px-6 py-3 rounded-lg text-white font-medium hover:bg-white hover:text-purple-900 transition">
                    CREATE A EVENT
                </a>
            </div>
        </div>
        <!-- Floating Form -->
        <div class="absolute bottom-0 translate-y-1/2 z-20 w-full max-w-7xl mx-auto px-4">
            <form class="bg-[#2A07F9] p-8 rounded-xl shadow-2xl border border-white/30">
                <div
                    class="flex flex-col md:flex-row justify-between text-[#1D275F] items-start space-y-6 md:space-y-0 md:space-x-6">
                    <div class="w-full md:w-auto flex flex-col items-start">
                        <label class="block text-white text-lg font-medium mb-2">Looking for</label>
                        <select class="p-3 rounded-lg bg-white w-70 text-left pr-16 focus:outline-none">
                            <option>Choose event type</option>
                        </select>
                    </div>
                    <div class="w-full md:w-auto flex flex-col items-start">
                        <label class="block text-white text-lg font-medium mb-2">Location</label>
                        <select class="p-3 rounded-lg bg-white w-70 text-left pr-16 focus:outline-none">
                            <option>Choose location</option>
                        </select>
                    </div>
                    <div class="w-full md:w-auto flex flex-col items-start">
                        <label class="block text-white text-lg font-medium mb-2">When</label>
                        <select class="p-3 rounded-lg bg-white w-70 text-left pr-16 focus:outline-none">
                            <option>Choose date and time</option>
                        </select>
                    </div>
                    <button
                        class="bg-white text-blue-900 px-6 py-2 rounded-lg w-full md:w-auto h-20 flex items-center justify-center mt-6 md:mt-0">
                        <!-- <img src="{% static 'images/search.png' %}" alt="Search" class="h-6 w-6"> -->
                        <i class="fas fa-search text-[#1D275F] text-2xl mr-2"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- Upcoming Events -->
{% include 'events/upcoming_event.html' %}

<!-- Recommended Events -->
{% include 'events/event_recommended.html' %}

<!-- Upcoming Events -->
{% include 'events/past_events.html' %}

<!-- Purpose Form -->
{% include 'events/event_proposed.html' %}

{% endblock %}