<nav class="absolute top-0 w-full z-20 text-white pt-10 px-6">
    <div class="max-w-7xl mx-auto flex justify-between items-center w-full">
        <div class="text-2xl font-bold">Happening</div>
        <div class="hidden md:flex space-x-12">
            <a href="" class="text-purple-300 font-bold">HOME</a>
            {% if user.is_authenticated %}
            <div class="relative inline-block text-left">
                <button id="dropdownButton" class="hover:text-purple-300 focus:outline-none">
                    BE PART OF <i class="fa fa-chevron-down text-xs"></i>
                </button>

                <div id="dropdownMenu" class="absolute right-0 mt-2 w-30 bg-white rounded-md shadow-lg hidden z-50">
                    <a href="{% url 'volunteer_management' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Volunteer</a>
                    <a href="{% url 'chat_dashboard' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Chat</a>
                </div>
            </div>
            {% endif %}
            <a href="{% url 'all_events' %}" class="hover:text-purple-300">SCHEDULE</a>

            <!-- <a href="{% url 'my_events' %}" class="hover:text-purple-300">MY EVENTS</a> -->
        </div>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'account_login' %}"
                class="bg-transparent border-2 border-white px-4 py-2 rounded text-white font-medium hover:bg-white hover:text-purple-900 transition">{{ request.user }}</a>
            <a href="{% url 'account_logout' %}"
                class="bg-[#2A07F9] px-4 py-2 rounded text-white font-medium hover:bg-blue-700 transition">LOG OUT</a>
        </div>
        {% else %}
        <div class="space-x-4">
            <a href="{% url 'account_signup' %}"
                class="bg-[#2A07F9] px-4 py-2 rounded text-white font-medium hover:bg-[#3C1DF9] transition">CREATE
                ACCOUNT</a>
            <a href="{% url 'account_login' %}"
                class="bg-transparent border-2 border-white px-4 py-2 rounded text-white font-medium hover:bg-white hover:text-purple-900 transition">SIGN
                IN</a>
        </div>
        {% endif %}

    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("dropdownButton");
        const menu = document.getElementById("dropdownMenu");

        button.addEventListener("click", function (event) {
            event.stopPropagation();
            menu.classList.toggle("hidden");
        });

        document.addEventListener("click", function (event) {
            if (!menu.contains(event.target)) {
                menu.classList.add("hidden");
            }
        });
    });
</script>